@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4" style="background-image: linear-gradient(to bottom, #00bcd4, #3f51b5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;">Naomi Y Giomar</h1>
</div>



<div class="reloj animate__animated animate__bounceIn">
  <!-- Contenido del reloj -->

<p id="time"></p>

<div class="card-container">
<div class="card">
  <div class="card-body">
    <div class="countdown">
      <div class="countdown-item">
        <span id="dias"></span>
        <span>Días</span>
      </div>
      <div class="countdown-item">
        <span id="horas"></span>
        <span>Horas</span>
      </div>
      <div class="countdown-item">
        <span id="minutos"></span>
        <span>Minutos</span>
      </div>
      <div class="countdown-item">
        <span id="segundos"></span>
        <span>Segundos</span>
      </div>
    </div>
  </div>
</div>
<div>


<!-- Agrega el enlace a la librería Animate.css en el encabezado -->
<link rel="stylesheet" href="ruta/al/archivo/animate.min.css">


